* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}


.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: #573b8a; */
  background-color: #302b63

}


.quiz {
  display: grid;
  grid-template-rows: 60px auto;
  width: 950px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.quiz-Mark{
  display: grid;
  grid-template-rows: 60px auto;
  width: 300px;
  height: 500px;
  background-color: #ecf0f1;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  /* margin-top: 30px; */
}

.quiz_header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.quiz_body {
  padding: 20px 20px;
}


.quiz_Question,.quiz_time {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}


.quiz_timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150px;
  /* background-color:#573b8a; */
  background-color:#302b63;

  color: #fff;
}
.quiz_body {
  background-color: #ecf0f1;
}

.option_group {
  list-style-type: none;
  margin: 30px 0;
}

.option,.markDiv {
  display: block;
  width: 450px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.4s all;
}

.option:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #573b8a;
  color: #573b8a;
}
.option.active {
  /* background-color: #573b8a; */
  background-color:#302b63;

  color: #fff;
}
.btn {
  border: none;
  padding: 15px 35px;
  /* background-color: #573b8a; */
  background-color:#302b63;

  color: #fff;
  border-radius: 27px;
  transition: 0.4s all;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #341f97;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

#btn_submit{
  /* display: none; */
  position: relative;
  left: 300px;
}

.markDiv{
 margin-left: 35px;
 margin-top: 10px;
 cursor: pointer;

}
.markDiv1{
  
  width: 100px;
  display: block;
  /* background-color: #573b8a; */
  background-color:#302b63;

  color: #fff;
  /* background-color: #fff; */
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 100px;
  /* border: 2px solid transparent;
  transition: 0.4s all; */
  
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
  text-align: center;
}

.mark_header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  background-color:#302b63;
  color: #fff;
  font-weight: bold;
}



@media screen and (max-width: 320px) {

  .wrapper{
    display: block;
  }
  .quiz {
    width: 100%;
    height: 600px;
    box-shadow: none;
  }
  .quiz_Question, .quiz_time {
    padding-left: 10px;
}


.quiz-Mark {
  width: 90%;
  height: 400px;
  margin: 250px 16px;
}

.mark_header {
  width: 100%;
}

.quiz_time{
  display: none;
}
.DivBtn{
  text-align: center;

}
.btn{
  display: block;
  margin-left: 40px;
  margin-top: 20px;
}

#btn_submit {
  left: 0;
}

.option,.markDiv {
  width: 100%;
}
.quiz_timer{
  width: 30%;
}
h2{
  font-size: 1rem;
}

}


